[submodule "task-service"]
	path = task-service
	url = https://github.com/YusuffBulbul/task-service.git
[submodule "notification-service"]
	path = notification-service
	url = https://github.com/YusuffBulbul/notification-service.git
[submodule "analytics-service"]
	path = analytics-service
	url = https://github.com/YusuffBulbul/analytics-service.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/YusuffBulbul/api-gateway.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/YusuffBulbul/frontend.git
